<footer class="footer text-center" id="contact">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contact</h4>
                <p class="lead mb-0">omar@dalgamuni.me<br />Slovenia</p>
            </div><!-- Footer Social Icons-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/omar.dalgamuni/"><i class="fab fa-fw fa-facebook-f"></i></a>                
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/omardalgamuni/"><i class="fab fa-fw fa-linkedin-in"></i>
                </a><a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Woriworiwa"><i class="fab fa-fw fa-github"> </i></a>
            </div>
        </div>
    </div>
</footer>