<section class="page-section portfolio mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">About</h2><!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div><!-- About Section Content -->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-4 col-lg-4 mb-5">
                <app-persona></app-persona>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-4 col-lg-4 mb-5">
                <app-experience></app-experience>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-4 col-lg-4 mb-5">
                <app-skills></app-skills>
            </div>
        </div>
    </div>
</section>
