<div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#persona">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="text-center">My Persona </h2>
                <!--p.card-text.text-center I designed this persona to summarize and communicate my current situation-->
            </div>
        </div>
    </div>
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"></div>
</div>

<div class="portfolio-modal modal fade" id="persona" tabindex="-1" aria-labelledby="persona" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">My Persona</h2><!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div><!-- Portfolio Modal - Image--><iframe width="100%" height="800" frameborder="0" src="https://app.milanote.com/1MV4EU1XD8ADaq?p=By0Sc6QG6yS"></iframe><!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p><button class="btn btn-primary" aria-label="Close" data-bs-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>